body {
  margin: 0;
  color: rgb(116 102 123 / 87%);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* .MuiFormControl-root  */
.MuiFormControl-root .MuiTextField-root{
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  width: 100%;
}

.textareawidth{
  width: 100%;
  border-color: rgba(0, 0, 0, 0.23)!important;

}

.nthType:nth-child(even){flex-direction: row-reverse}
.nthType:nth-child(even) .chatbubbles{flex-direction: row-reverse}
.nthType:nth-child(odd) .bubble {
  border-radius: 20px 20px 20px 0px !important;
}
.nthType:nth-child(odd) .avi {
  background: seagreen;
}

.nthType:nth-child(even) .avi {
  background: orangered;
}

/* .makeStyles-content-14 {
  padding: 0!important;
  flex-grow: 1;
} */


.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0!important;
}


 @media only screen and (max-width: 599px) {
  /* .users{
    display: none;
  } */
  .messages {
    width: 100%;
    margin-left: 0px !important;
  }

  .sample{
    font-size: 40px;
    color:red
  }
/* }
.send-box, .profile-header {
  width: 100% !important;
}

.contactprofile{
  margin-top: 10%;
}

.profile-header .profile_details .icon {
  width: 60px !important;
  height: 60px !important;
}

.profile-header .profile_details .name {
  font-size: 12px;
}


.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 28px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  width: 50px;
  height: 50px;
} */
  }
