body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* .MuiFormControl-root  */
.MuiFormControl-root .MuiTextField-root{
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  width: 100%;
}

.textareawidth{
  width: 200%;
}

.nthType:nth-child(even){flex-direction: row-reverse}
.nthType:nth-child(odd) .avi {
  background: seagreen;
}

.nthType:nth-child(even) .avi {
  background: orangered;
}



@media only screen and (max-width: 600px) {
  .users{
    display: none;
  }
  .messages {
    width: 100%;
    margin-left: 0px !important;
}
.send-box, .profile-header {
  width: 100% !important;
}

}
