body {
  margin: 0;
  color: rgb(116 102 123 / 87%);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* .MuiFormControl-root  */
.MuiFormControl-root .MuiTextField-root{
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  width: 100%;
}

.textareawidth{
  width: 100%;
  border-color: rgba(0, 0, 0, 0.23)!important;

}

[data-myname]{
  flex-direction: row-reverse
}
[data-myname] .chatbubbles{flex-direction: row-reverse}
[data-theirname] .bubble{
  border-radius: 20px 20px 20px 0px !important;
}


.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0!important;
}


 @media only screen and (max-width: 599px) {

  .messages {
    width: 100%;
    margin-left: 0px !important;
  }

  .sample{
    font-size: 40px;
    color:red
  }
 }